.btn {
   padding: 15px 30px;
   border-radius: 5px;
   display: inline-block;
   color: $color-white-grey;
   overflow: hidden;

   &:hover {
      filter: brightness(110%);
   }
   

   &-primary {
      background-color: $color-primary;
   }

   &-secondary {
      background-color: $color-secondary;
   }
}