*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   overflow-x: hidden;
}

.wrapper {
   max-width: 1067px;
   width: 100%;
   min-height: 100%;
   padding: 0 10px;
   margin: 0 auto;
   
}

ul {
   list-style-type: none;
}